<% for(var i = 0; i < reviews.length; i++) { %>
    <tr>
        <td><%= reviews[i].name %></td>
        <td><%= reviews[i].website %></td>
        <td><%= reviews[i].first %></td>
        <td><%= reviews[i].second %></td>
        <td><%= reviews[i].third %></td>
        <td><%= reviews[i].comments %></td>
        <td><%= reviews[i].notes %></td>
        <td>
            <a href="/update-review?id=<%= reviews[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= reviews[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>