
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/locations"><i class="fas fa-arrow-left"></i> All Locations</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Locations</h2>
            <span class="text-dark">Use the below form to update</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form action="/api/locations/" method="POST" id="update_record">
    <div class="new_record">
        <div class="form-group">
            <div class="form-group">
                <label for="company" class="text">Company Name</label>
                <input type="hidden" name="id" value="<%= location._id %>">
                <input type="text" name="company" value="<%= location.company %>" placeholder="ABC Company">
            </div>
            <label for="india" class="text">India</label>
            <input type="text" name="india" value="<%= location.india %>" placeholder="Department 1">
        </div>
        <div class="form-group">
            <label for="canada" class="text">Canada</label>
            <input type="text" name="canada" value="<%= location.canada %>" placeholder="Department 2">
        </div>
        <div class="form-group">
            <label for="uk" class="text">UK</label>
            <input type="text" name="uk" value="<%= location.uk %>" placeholder="Department 3">
        </div>
        <div class="form-group">
            <label for="usa" class="text">USA</label>
            <input type="text" name="usa" value="<%= location.usa %>" placeholder="Department 4">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->