
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/records"><i class="fas fa-arrow-left"></i> All Records</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Record</h2>
            <span class="text-dark">Use the below form to update a record</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form action="/api/records/" method="POST" id="update_record">
    <div class="new_record">
        <div class="form-group">
            <label for="name" class="text">Company Name</label>
            <input type="hidden" name="id" value="<%= record._id %>">
            <input type="text" name="company" value="<%= record.company%>" placeholder="ABC Company">
        </div>
        <div class="form-group">
            <label for="website" class="text">Website</label>
            <input type="text" name="website" value="<%= record.website%>" placeholder="www.example.com">
        </div>
        <div class="form-group">
            <label for="size" class="text">Size</label>
            <input type="text" name="size" value="<%= record.size%>" placeholder="">
        </div>

        <div class="form-group">
            <label for="revenue" class="text">Revenue</label>
            <input type="text" name="revenue" value="<%= record.revenue%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="hq" class="text">HeadQuarters</label>
            <input type="text" name="hq" value="<%= record.hq%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="sales" class="text">Sales Contact</label>
            <input type="text" name="sales" value="<%= record.sales%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="priority" class="text">Priority</label>
            <input type="text" name="priority" value="<%= record.priority%>" placeholder="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
