<% for(var i = 0; i < details.length; i++) { %>
    <tr>
        <td><%= details[i].company %></td>
        <td><%= details[i].india %></td>
        <td><%= details[i].canada %></td>
        <td><%= details[i].uk %></td>
        <td><%= details[i].usa %></td>
        <td><%= details[i].person %></td>
        <td><%= details[i].designation %></td>
        <td><%= details[i].email %></td>
        <td><%= details[i].phone %></td>
        <td><%= details[i].linkedin %></td>
        <td><%= details[i].comments %></td>
        <td>
            <a href="/app/update-details?id=<%= details[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id="<%= details[i]._id%>" data-method="DELETE" >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>