<% for(var i = 0; i < locations.length; i++) { %>
    <tr>
        <td><%= locations[i].company %></td>
        <td><%= locations[i].india %></td>
        <td><%= locations[i].canada %></td>
        <td><%= locations[i].uk %></td>
        <td><%= locations[i].usa %></td>
        <td>
            <a href="/update-location?id=<%= locations[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= locations[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>