<% for(var i = 0; i < records.length; i++) { %>
<tr>
    <td><%= records[i].company %></td>
    <td><%= records[i].website %></td>
    <td><%= records[i].size %></td>
    <td><%= records[i].revenue %></td>
    <td><%= records[i].hq %></td>
    <td><%= records[i].sales %></td>
    <td><%= records[i].priority %></td>
    <td><%= records[i].details %>
        <a href="/details?id=<%= records[i]._id%>" class="btn border-shadow update">
            <span class="text">View list</span>
        </a>
    </td>
    <td><%= records[i].first %></td>
    <td><%= records[i].second %></td>
    <td><%= records[i].third %></td>
    <td><%= records[i].fourth %></td>
    <td><%= records[i].comments %></td>
    <td>
        <a href="/update-record?id=<%= records[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= records[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>