
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/reviews"><i class="fas fa-arrow-left"></i> All records</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Record</h2>
            <span class="text-light">Use the below form to update a record</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form action="/api/reviews/" method="POST" id="update_record">
    <div class="new_record">
        <div class="form-group">
            <label for="name" class="text">Company Name</label>
            <input type="hidden" name="id" value="<%= review._id %>">
            <input type="text" name="name" value="<%= review.name %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="website" class="text">Website</label>
            <input type="text" name="website" value="<%= review.website %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="first" class="text">First Priority</label>
            <input type="text" name="first" value="<%= review.first %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="second" class="text">Second Priority</label>
            <input type="text" name="second" value="<%= review.second %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="third" class="text">Third Priority</label>
            <input type="text" name="third" value="<%= review.third %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="comments" class="text">Comments</label>
            <input type="text" name="comments" value="<%= review.comments %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="notes" class="text">Notes</label>
            <input type="text" name="notes" value="<%= review.notes %>" placeholder="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->